@charset "utf-8";
.header {
	color: #000;
	background-color: #AAA;
	height: 100px;
	width: 1350px;
	font-size: 24px;
}.navigation {
	color: #009;
	background-color: #BBB;
	margin: 10px;
	padding: 10px;
	clear: right;
	float: left;
	height: 800px;
	width: 50px;
}
.padding {
	color: #06c;
	background-color: #BBB;
	padding: 19px;
	height: 600px;
	width: 50px;
}
.navigation {
	color: #06C;
	background-color: #BBB;
	padding: 19px;
	height: 50px;
	width: 10px;
	
.padding {
	color: #06C;
	background-color: #666;
	height: 1000px;
	width: 10px;
	padding-top:15px;
	padding-right: 100px;
	padding-bottom: 15px;
	padding-left: 100px;
}
